body {
	margin: 0;
	padding: 0;
	line-height: 1.4em;
	word-spacing: 1px;
	letter-spacing: .2px;
	font: 13px Arial, Helvetica, "Lucida Grande", serif;
	color: #000
}

#adminNavsWrapper,#trusted,.shadowHeader,.shadowBottomLeft,#rightcol,.bread,.campaignActions,#pieChart,#overTimeChart,.right,a[target='_blank'],#recipientSearch,.sortIcon,.tableTabs,.tableFooter,#overTimeTotalChart,#clientUsagePie
	{
	display: none
}

.twocol,.twocol #content {
	background: none
}

h1 {
	font-size: 18px
}

table.goalSummary td {
	font-size: 11px;
	color: #666
}

#campaignNameAndDate,.campaignName {
	font-size: 12px;
	color: #666;
	font-weight: 400
}

#peopleClicked,#clicksPerPerson,#totalClicks,#didntClick {
	font-size: 36px;
	font-weight: 700;
	vertical-align: top;
	padding-right: 10px
}

.goalDescription h2 {
	font-size: 14px;
	font-weight: 400
}

.headerLeft,.tabHeaderLeft,.tabRowLeft,.cellCenter,.headerRight,.rowLeft,tableHeader td,tableHeader th,.tableTabsHeader td,.tableTabsHeader th,.totalnacol
	{
	text-align: left !important
}

.tableHeader {
	border-top: 1px solid #999;
	margin-top: 13px;
	padding-top: 25px
}

a {
	background: transparent;
	color: #666;
	text-decoration: none
}