<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou a alteração de sua senha, você pode fazer a alteração da senha clicando no link abaixo.</p>

<p><%= link_to 'Trocar senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não solicitou a alteração de sua senha, favor ignorar este e-mail.</p>
<p>Sua senha não será alterada até que você acesse o link abaixo e crie uma nova senha.</p>
